{% extends 'layout.html' %}
{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/home/stylesheets/about.css">
    <script type="text/javascript" data-main="/home/scripts/main.js" src="/lib/requirejs/require.js"></script>
{% endblock %}
{% block content %}
    <h2>{{about}}</h2>
    <h2 id="about">这里是关于！</h2>
    <div>
        <button id="add" class="btn-add">增加内容</button>
    </div>
    <h2 id="about">这里是关于！</h2>
    <img src="/home/images/test_image.jpg" alt="test">
{% endblock %}
